.App {
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
}
.searchBar {
  position: absolute;
  top: 20px;
  left: 250px;
}
.sideBar {
  position: absolute;
  width: 225px;
  height: 100vh;
}
.statistics {
  position: relative;
  top: 50px;
  left: 225px;
  height: 80vh;
  width: 80vw;
}
