.App {
  text-align: center;
}

.container {
  height:100vh;
  width: 100vw;
}
.searchBar {
  position: absolute;
}
.sideBar {
  position: absolute;
  width: 225px;
  height:100vh;
}
.statistics {
  position: relative;
  left: 230px;
  height:100vh;
  width: 83vw;
}
