.pie {
  width: 250 px;
  height: 250 px;
}

.statContainer {
  display: flex;
  flex-direction: column;
  height: 87vh;
  width: 83vw;
}
.upperRow {
  display: flex;
  height: 40%;
  width: 100%;
  order: 0;
}
.bottomRow{
  display: flex;
  height: 64%;
  width: 100%;
}
.bottomLeft {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 33%;
  order: 0;
}

.bar {
  width: 66%;
  height: 66%;
  order: 1;
}

.videoContainer {
  height: 100%;
  width: 33%;
}

.video {
  height: 100%;
  width: 100%;
}

.numberStats {
  height: 100%;
  width: 66%;
}
.sidebar {
  width: 50px;
}