
.statContainer {
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 83vw;
  border: solid 2px lightgray;
  border-radius: 5px;
}

.upperRow {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  order: 0;
  
}

.bottomRow{
  display: flex;
  height: 64%;
  width: 100%;
}
.bottomLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  order: 0;
}
.bottomLeftSplit {
  height: 50%;
  width: 100%;
}
.bottomRight {
  height: 100%;
  width: 66%;
}
.bar {
  width: 50%;
  height: 66%;
  order: 1;
}

.videoContainer {
  height: 100%;
  width: 33%;
}

.video {
  height: 100%; 
  width: 100%;
}

.numberStats {
  height: 100%;
  width: 66%;
}
.sidebar {
  width: 50px;
}

.singleData {
  display: flex;
  flex-direction: row;
  width: 66%;
  height: 100%;
}
.singles {
  width: 30%;
  height: 100%;
  padding: 25px 0px 0px 0px;
  margin: 5px;
}